*{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
img{
    width: 100%;
 	height: 100%;
	object-fit: cover;
	object-position: center; 
}
.left{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 270px;
    bottom: 0px;
    border-right: 1px solid gray;
    background-color: #ddd;
}
.user{
    position: relative;
    width: 100%;
    height: 200px;
    border-bottom: 1px solid gray;
    margin-bottom: 20px;
}
.avtemp{
    position: absolute;
    width: 130px;
    height: 130px;
    top: 10px;
    left: 70px;
    border: 1px solid gray;
    border-radius: 50%;
    overflow: hidden;
}
.infoemp{
    position: absolute;
    width: 100%;
    height: 49px;
    border-top: 1px solid gray;
    top: 150px;
    right: 0px;
}
.multichoose{
    width: 100%;
    height: 60px;
    font-size: 22px;
}
.logout{
    position: fixed;
    width: 90px;
    height: 40px;
    bottom: 0px;
    left: 90px;
}
.right{
    position: relative;
    background-color: #ddd;
    width: 1092px;
    margin-left: 271px;
    height: 650px;
    display: none;
    /* overflow: hidden; */
}
#hometab{
    overflow: hidden;
    display: block;
}
.news{
    position: absolute;
    top: 0px;
    width: 758px;
    /* background-color: blue; */
    border-right: 1px solid gray;
    overflow-y: auto;
    height: 655px;
    padding-top: 30px;
}
.contentnew{
    border: 1px solid gray;
    width: 710px;
    margin: 25px;
    margin-bottom: 0px;
   
}
.contentnew::-webkit-scrollbar {
	width: 6px;
	background-color: #F5F5F5;
	z-index: 1;
}
.contentnew::-webkit-scrollbar-thumb {
	border-radius: 2px;
    background-color: gray;
}
.contentnew::-webkit-scrollbar-track {
    background-color: #eee;
} 
.creatus{
    position: fixed;
    top: 5px;
    right: 350px;
    width: 90px;
    height: 40px;
    border-radius: 8px;
}
.locnews{
    position: fixed;
    bottom: 0px;
}
.locnewsc{
    position: relative;
    width: 379px;
    height: 40px;
    outline: none;
    margin: 0px;
    float: left;
}
.oclock{
    font-family:'Times New Roman', serif;
    width: 300px;
    position: fixed;
    top: 10px;
    right: 12px;
    border: 1px solid gray;
    border-radius: 5px;
}
#date{
    font-size: 24px;
    margin-top: 10px;
    margin-left: 50px;
    font-weight: bold;
}
#time{
    font-size: 40px;
    margin-left: 80px;
    margin-top: 10px;
}
.chattab{
    position: fixed;
    top: 300px;
    bottom: 0px;
    right: 0px;
    width: 333px;
}
.headsale{
    position: fixed;
    top: 0px;
    right: 10px;
    width: 1085px;
    height: 50px;
    /* background-color: aqua; */
    border-bottom: 1px solid gray;
    z-index: 2;
}
.menusale{
    width: 140px;
    height: 100%;
    float: left;
}
.nvtabcon{
    display: none;
    width: 1085px;
    height: 600px;
    /* background-color: violet; */
    margin-top: 51px;
}
#addemp{
    display: block;
    background-color: aqua;
}
#listemp{
    background-color: yellowgreen;
}
.retabcon{
    display: none;
    width: 1085px;
    height: 600px;
    /* background-color: violet; */
    margin-top: 51px;
}

#addpro{
    display: block;
    background-color: salmon;
}