*{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

img{
    width: 100%;
 	height: 100%;
	object-fit: cover;
	object-position: center; 
}
.manChan{
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background-color: #000;
	filter: opacity(0.7);
    z-index: 100;
    display: block;
}
.cu-p{
    cursor: pointer;
}
button{
    cursor: pointer;
}
.left{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 269px;
    bottom: 0px;
    border: 1px solid #00a1f2;
    background-color: #ddd;
}
.user{
    position: relative;
    width: 100%;
    height: 230px;
    border-bottom: 1px solid thistle;
    margin-bottom: 0px;
}
.avtemp{
    position: absolute;
    width: 130px;
    height: 130px;
    top: 10px;
    left: 70px;
    border: 1px solid gray;
    border-radius: 50%;
    overflow: hidden;
}
.infoemp{
    position: absolute;
    width: 235px;
    height: 40px;
    border: 1px solid #00a1f2;
    top: 160px;
    right: 10px;
    padding: 5px;
    border-radius: 3px;
    background-color: #eee;
}
.multichoose{
    width: 100%;
    height: 70px;
    font-size: 22px;
    outline: none;
    border: 1px solid #00a1f2;
    margin-bottom: 2px;
    background-color: #eee;
    border-radius: 3px;
    /* transition: 1s; */
}
#btnhometab{
    background-color: #0481BF;
}
.multichoose:hover{
    background-color: #0481BF;
}
.logout{
    position: fixed;
    width: 90px;
    height: 40px;
    bottom: 0px;
    left: 90px;
    background-color: #0481BF;
    border-radius: 5px;
    outline: none;
    border: hidden;
}
.right{
    position: fixed;
    background-color: #ddd;
    width: 1092px;
    margin-left: 271px;
    height: 649px;
    display: none;
    border-top: #00a1f2 1px solid;
    border-bottom: 1px solid #00a1f2;
    overflow: hidden;
}
#hometab{
    overflow: hidden;
    display: block;
}
.news{
    position: absolute;
    top: 0px;
    width: 757px;
    /* background-color: blue; */
    border-right: 1px solid thistle;
    overflow-y: auto;
    height: 560px;
    padding-bottom: 100px;
    padding-top: 30px;
    display: none;
}
#news1{
    display: block;
}
.contentnew{
    position: relative;
    border: 1px solid thistle;
    width: 90%;
    margin: 25px;
    margin-bottom: 0px;
    background-color: #eee;
    border-radius: 5px;
    box-shadow: 1px 1px 2px gray;
}
.headnews{
    position: relative;
    width: 100%;
    height: 40px;
    border-bottom: thistle 1px solid;
}
.avtposter{ 
    position: absolute;
    top: 3px;
    left: 3px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid  thistle;
    overflow: hidden;
}
.nameposter{
    position: absolute;
    top: 2px;
    left: 50px;
    /* width: 200px; */
    height: 18px;
    border: hidden;
    border-radius: 3px;
    background-color: white;
    padding: 2px;
}
.timepost{
    position: absolute;
    left: 50px;
    bottom: 0px;
    width: 200px;
    height: 18px;
}
.titlenews{
    position: relative;
    width: 100%;
    height: 40px;
    padding: 3px;
    border-bottom: thistle 1px solid;
    font-size: 20px;
    font-weight: bold;
    background-color: white;
}
.contentnews{
    position: relative;
    width: 100%;
    min-height: 40px;
    padding: 3px;
    font-size: 16px;
    background-color: white;
}
.imagenews{
    position: relative;
    float: right;
    width: 260px;
    height: 260px;
    border: thistle 1px solid;
    border-radius: 3px;
    font-size: 20px;
    font-weight: bold;
    overflow: hidden;
}
.creatus{
    position: fixed;
    top: 5px;
    right: 350px;
    width: 90px;
    height: 40px;
    border-radius: 8px;
    z-index: 50;
}
.locnews{
    position: fixed;
    bottom: 0px;
    border-top: 1px thistle solid;
    background-color: #ddd;
}
.locnewsc{
    position: relative;
    width: 379px;
    height: 40px;
    border: hidden;
    border-right: 1px thistle solid;
    outline: none;
    margin: 0px;
    float: left;
}
.locnewsc:hover{
    height: 37px;
    border-top: 4px #0481BF solid;
}
.rightofright{
    position: fixed;
    right: 0px;
    height: 100%;
    width: 335px;
    background-color: #eee;
}
.oclock{
    font-family:'Times New Roman', serif;
    width: 300px;
    position: fixed;
    top: 10px;
    right: 12px;
    border: 1px solid thistle;
    background-color: white;
    border-radius: 5px;
}
#date{
    font-size: 24px;
    margin-top: 10px;
    margin-left: 50px;
    font-weight: bold;
}
#time{
    font-size: 40px;
    margin-left: 80px;
    margin-top: 10px;
}
/* .chattab{
    position: fixed;
    top: 300px;
    bottom: 0px;
    right: 0px;
    width: 333px;
} */
.chat{
    position: fixed;
    /* background-color: #00a1f2; */
    /* top: 300px; */
    bottom: 0px;
    right: 12px;
    width: 300px;
    margin: 0px;
}
.headchat{
    position: absolute;
    width: 295px;
    height: 40px;
    border: 1px solid thistle;
    border-radius: 3px;
    border-bottom: hidden;
    overflow: hidden;
}
.avtchat{
    width: 34px;
    height: 34px;
    border: hidden;
    margin: 3px;
    margin-bottom: 0px;
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
}
.namechat{
    position: absolute;
    top: 5px;
    left: 45px;
}
.chat .messages{ 
    border: 1px solid thistle;
    background-color:white;
    width: 285px;
    height: 400px;
    overflow-y: scroll;
    margin-top: 40px;
}
.onemess{
    width: 100%;

}
.message{
    margin-top: 10px;
    margin-left: 5px;
    width: 200px;
    background-color: #ddd;
    display: block;
    padding-left: 2px;
    border-radius: 5px;
}
.messr{
    float: right;
    margin-bottom: 10px;
    background-color: #00a1f2;
    right: 10px;
    padding-right: 2px;
}
.chat .message p{
    margin-top: 5px;
    border-radius: 3px;
    
}
.tdmess{
    display: block;
    right: 0px;
    width: 100%;
}
.tdmess span{
    float: right;
}
.ndmess{
    float: right;
}
.chat .entry{ 
    width: 286px;
    height: 30px;
    padding: 5px;
    margin-top: 2px;
    /* margin-right: 3px; */
    margin-bottom: 10px;
}
.leftinfo{
    position: relative;
    width: 490px;
    height: 100%;
    background-color: #ddd;
    border-right: #00a1f2 1px solid;
    float: left;
}
.rightinfo{
    position: relative;
    width: 590px;
    height: 100%;
    background-color: #ddd;
}
.avtinfo{
    position: relative;
    width: 260px;
    height: 260px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid gray;
    margin-top: 15px;
    margin-left: 50%;
    transform: translateX(-50%);
}
.menuimg{
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 260px;
    height: 0px;
    /* border-top: 1px solid gray; */
    background-color: #eee;
    border-bottom-left-radius: 110px;
    border-bottom-right-radius: 110px;
    overflow: hidden;
    transition: 1s;
}
.menuimg button{
    margin-top: 3px;
    margin-left: 90px;
    display: block;
    font-size: 20px;
    border: hidden;
    overflow: none;
    background-color: inherit;
}
.menuimg button:hover{
    color: palevioletred;
}
.avtinfo:hover .menuimg{
    height: 80px;
	background-color: #00a1f2
}
.moreinfo{
    position: relative;
    margin-top: 15px;
    width: 500px;
    border: #00a1f2 1px solid;
    background-color: #eee;
}
.moreinfo div{
    display: inline-block;
    width: 230px;
    height: 42px;
    border-bottom: 1px solid gray;
    margin-top: 5px;
    margin-left: 5px;
}
#doiavt{
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translate(-50%);
    width: 300px;
    height: 100px;
    border: #00a1f2 1px solid;
    border-radius: 5px;
    padding: 5px;
    overflow: hidden;
    background-color: #eee;
    display: none;
    z-index: 1000;
}
#nguonavt{
    margin: 40px;
}
#upanh{
    width: 100%;
    height: 40px;
    background-color: #0481BF;
    position: absolute;
    bottom: 0px;
    left: 0px;
    outline: none;
    border: hidden;
}





.scroll::-webkit-scrollbar {
	width: 6px;
	background-color: #F5F5F5;
}
.scroll::-webkit-scrollbar-thumb {
	border-radius: 2px;
    background-color: gray;
}
.scroll::-webkit-scrollbar-track {
    background-color: #eee;
} 
.scroll{
    scrollbar-color: gray #eee;
    scrollbar-width: thin;
}
#xemavt{
    width: 450px;
    height: 600px;
    position: fixed;
    top:20px;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    border: #0481BF solid 1px;
    border-radius: 5px;
    display: none;
    z-index: 1000;
}